$topbar-background-color: #eceff1;
$topbar-link-font-color: #37474f;
$topbar-download-url-wrapper-element-border-color: #01579b;
$topbar-download-url-button-background-color: #01579b;
$topbar-download-url-button-font-color: #e8eaf6;
